.advantages__item {
  font-style: normal;
  font-weight: 400;
  font-family: $ff-lato;
}

.advantages__title {
  line-height: 40px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
  }
}

.advantages__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
// ggggggggggggggggggggggggggggggggggggggggg
