.catalog {
  @media (max-width: $mobile-only-width) {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 76px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 70px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 71px 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    left: -20px;

    border-bottom: 1px solid #ebebeb;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.catalog__card {
  display: grid;
  align-items: start;
  height: 100%;
  padding: 20px 0 25px;

  gap: 17px 0;
  grid-template-columns: 140px 1fr;

  @media (min-width: $tablet-width) {
    padding: 0 37px 40px;

    background-color: #f2f2f2;

    gap: 22px 0;
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 0 37px 40px;

    gap: 0;
  }
}

.catalog__card-img {
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin: -70px auto 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
    margin: -71px auto 12px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__card-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog__card-wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 2px 23px 0;
  }
}

.catalog__title-link {
  display: block;
  max-width: 80px;
  margin: 0 0 15px;

  color: #222222;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    max-width: 155px;
    margin: 0 auto 12px;
  }

  @media (min-width: $desktop-width) {
    max-width: 155px;
    margin-bottom: 17px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__card-title {
  margin: 0;
  padding-top: 1px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    max-width: 155px;
    margin: 0 auto;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog__card-property {
  width: 100%;
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    line-height: 20px;
  }
}

.catalog__property-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 10px;

  @media (min-width: $tablet-width) {
    padding: 7px 0 6px;

    border-bottom: 1px solid $light-gray;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0 6px;
  }
}

.catalog__property-item:last-child {
  @media (min-width: $desktop-width) {
    padding: 5px 0 9px;
  }
}

.catalog__property-item dd {
  margin: 0;
}

.catalog__link {
  width: 100%;
  margin-top: auto;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}

.catalog__item--more {
  position: relative;
  // padding-top: 79px;

  text-align: center;
}

.catalog__item--more::after,
.catalog__item--more::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;

  width: 30px;
  height: 2px;

  background-color: #d3d3d3;

  @media (min-width: $tablet-width) {
    top: 153px;

    width: 60px;
  }
}

.catalog__item--more::after {
  transform: translate(-50%, -50%);
}

.catalog__item--more::before {
  transform: translate(-48%, -50%) rotate(90deg);
}

.catalog__item--more .catalog__item-container {
  display: grid;
  padding: 78px 0 46px;

  text-align: center;

  gap: 10px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding: 160px 35px 38px;

    background-color: transparent;
    background-image: none;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    padding: 151px 36px 39px;
  }
}

.catalog__item--more h3 {
  max-width: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin: 0 auto 13px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: -3px auto 16px;
  }
}

.catalog__item--more p {
  margin: 0 0 10px;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin: 0 auto 62px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.catalog__item--more .catalog__link {
  color: $dark-gray;

  background-color: #f2f2f2;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);

    background-color: #ebebeb;
  }
}
