.control {
  display: grid;

  gap: 12px;
  grid-template-columns: 1fr;

  &--radio {
    @media (min-width: $tablet-width) {
      padding: 24px 28px;

      border: 1px solid $gray-border;
    }
  }

  &--check {
    @media (min-width: $tablet-width) {
      gap: 33px 57px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      gap: 33px 78px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.control__label {
  display: grid;
  align-items: center;

  gap: 15px;
  grid-template-columns: auto 1fr;
}

.control__input {
  position: relative;

  width: 30px;
  height: 30px;
  margin: 0;

  background-color: transparent;
  border: 1px solid $light-gray;

  appearance: none;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &[type="checkbox"]:checked {
    background-image: url("/img/svg/check-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }

  &[type="radio"] {
    border-radius: 50%;
  }

  &[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 13px;
    height: 13px;

    background-color: $basic-gray;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    border-color: #bababa;
  }

  &:disabled,
  &:disabled + .form__label-text {
    opacity: 0.3;

    pointer-events: none;
  }
}

.control__label-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
