.control {
  display: grid;

  gap: 13px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    gap: 12px;
  }

  &--radio {
    @media (min-width: $tablet-width) {
      padding: 21px 26px 25px;

      border: 1px solid $gray-border;

      gap: 14px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 25px;

      gap: 13px;
    }
  }

  &--check {
    gap: 12px;

    @media (min-width: $tablet-width) {
      gap: 32px 60px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      gap: 33px 80px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.control__label {
  display: grid;
  align-items: center;

  gap: 15px;
  grid-template-columns: auto 1fr;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.control__input {
  position: relative;

  width: 30px;
  height: 30px;
  margin: 0;

  background-color: transparent;
  border: 1px solid $light-gray;

  appearance: none;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &[type="checkbox"]:checked {
    background-image: url("/img/svg/check-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;

    @media (min-width: $tablet-width) {
      background-size: 24px 24px;
    }
  }

  &[type="radio"] {
    border-radius: 50%;
  }

  &[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 48%;
    left: 50%;

    width: 13px;
    height: 13px;

    background-color: $basic-gray;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      top: 52%;

      width: 18px;
      height: 18px;
    }

    @media (min-width: $desktop-width) {
      top: 51%;
      left: 52%;
    }
  }

  &:focus,
  &:focus-visible {
    background-color: #444444;
    outline: none;
    box-shadow: 0 0 0 1px #444444;
  }

  &:hover,
  &:active {
    border-color: #bababa;
  }

  &:disabled,
  &:disabled + .form__label-text {
    opacity: 0.3;

    pointer-events: none;
  }
}

.control__label-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
