.example {
  padding: 27px 0 23px;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 43px 0 83px;

    background-image: linear-gradient(0deg, #eaeaea 42.5%, #ffffff 42.9%);
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 74px;

    background-color: #f2f2f2;
    background-image: linear-gradient(0deg, #f2f2f2 77%, #ffffff 77%);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;

    gap: 10px 220px;
    grid-template-columns: 436px 1fr;
  }
}

.example__description {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 105px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.example__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 145px;
  }
}

.example__text {
  margin: 0;

  font-family: $ff-lato;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.example__result {
  display: grid;
  padding-top: 6px;

  gap: 27px 32px;
  grid-template-columns: repeat(2, 124px);

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-top: 37px;

    gap: 33px 42px;
    grid-template-columns: 162px 162px 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;

    gap: 20px 42px;
    grid-template-columns: repeat(2, 162px);
  }
}

.example__result-block {
  position: relative;

  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__result-subtitle {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__result-text {
  position: absolute;
  bottom: -26px;
  left: 50%;

  align-items: center;
  padding: 0 17px;

  font-size: 12px;
  line-height: 12px;
  font-family: $ff-lato;
  text-transform: lowercase;

  background-color: #eaeaea;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: -20px;

    width: max-content;
    padding: 0 7px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__result-expenses {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    grid-column: auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;

    grid-column: 1/-1;
  }
}

.example__result-price {
  margin: 0;

  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 228px;
    margin-top: 0;
    margin-left: auto;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;

    text-align: left;
  }
}
