.example {
  background-color: #f2f2f2;
}

.example__title {
  line-height: 40px;
}

.example__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-lato;
}

.example__result-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__result-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  font-family: $ff-lato;
  text-align: center;
}

.expenses-text {
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__title {
    line-height: 60px;
  }

  .expenses-text {
    font-size: 20px;
  }

  .example {
    background-color: $light;
  }

  .example__result-subtitle {
    font-size: 30px;
    line-height: 37px;
  }

  .example__result-text {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 224px;
  }
}
