.footer {
  background-color: #f2f2f2;
}

.footer__container {
  padding-top: 37px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 55px;

    grid-template-columns: 1fr 140px 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
    padding-bottom: 65px;
  }
}

.footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto 19px;

  color: #111111;

  fill: currentColor;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__logo svg {
  display: block;
  width: 100%;
  height: 100%;

  fill: currentColor;

  &:hover,
  &:focus {
    color: #3e3e3e;

    outline: none;
  }

  &:active {
    color: #6b6b6b;
  }
}

.footer__logo img {
  display: block;
  width: 100%;
}

.footer__logo-htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  fill: currentColor;
}

.footer__logo-htmlacademy svg {
  &:hover,
  &:focus {
    color: #68b738;

    outline: none;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
  }
}

.htmlacademy-text {
  padding-right: 23px;

  line-height: 20px;
}
