.footer {
  background-color: #f2f2f2;
}

.htmlacademy-text {
  line-height: 20px;
}

.footer__container {
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    padding: 55px 20px;

    grid-template-columns: 1fr 140px 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 20px;
  }
}

.footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto 19px;

  color: #111111;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__logo img {
  display: block;
  width: 100%;
}
