.hero--form .hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.form__label,
.form__input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-input {
  width: 100%;
}

.form__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form__fieldset--commit .form-input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__submit {
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset--submit p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-lato;
  text-align: center;
  color: #000000;
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0 110px;
  }

  .form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .form__group {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form__fieldset--contacts .form__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
