.map__container {
  background-color: $light;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.map__address {
  display: grid;

  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: grid;
    padding: 60px 70px 59px;

    gap: 308px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    z-index: 1;

    width: 565px;

    background-color: $light;

    gap: 87px;
  }
}

.map__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $ff-lato;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.map__iframe-container {
  @media (min-width: $tablet-width) {
    height: 362px;
  }
}

.map__iframe iframe {
  @media (min-width: $tablet-width) {
    position: absolute;

    width: 100%;
    height: 362px;
  }
}
