.map__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  text-transform: uppercase;
}

.map__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $ff-lato;
}
