.map__container {
  position: relative;
}

.map--index .map__container {
  background-color: $light;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.map__address {
  display: grid;
  padding: 27px 0 26px;

  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding: 61px 40px 58px;

    gap: 308px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 92px;
    z-index: 1;

    width: 565px;
    padding: 65px 58px 59px 80px;

    background-color: $light;

    gap: 70px;
  }
}

.map__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map__text {
  margin: 0;

  line-height: 19px;
  font-family: $ff-lato;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.map__text span {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.map__iframe-container {
  width: 100%;
  height: 364px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__iframe-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.map__iframe {
  height: 100%;
}

.map__iframe iframe {
  display: block;
  width: 100%;
  height: 100%;

  border: none;
}
