.more {
  padding-bottom: 35px;
}

.more__title-main {
  font-weight: 400;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.more__block {
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;

    gap: 30px 80px;
    grid-template-columns: 1fr auto;
  }
}

.more__list {
  margin-bottom: 34px;
}

.more__item {
  display: grid;
  padding: 12px 0 19px;

  border-top: 1px solid #cdcdcd;

  gap: 14px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding: 25px 39px 28px;

    border-top: 1px solid #cdcdcd;

    gap: 25px 23px;
    grid-template-columns: 1fr 150px 70px;
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;
    padding: 17px 0 15px;

    gap: 40px;
    grid-template-columns: 1fr 220px 60px 244px;
  }
}

.more__item:last-child {
  border-bottom: 1px solid $light-gray;
}

.more__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;

  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 20px;
    line-height: 20px;

    grid-column: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.more__item p {
  margin: 0;

  line-height: 14px;
  font-family: $ff-lato;
  color: $dark-gray;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.more__price {
  text-align: right;
}

.more__button {
  width: 100%;
  // margin-top: 15px;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  grid-column: 1 / -1;

  @media (min-width: $desktop-width) {
    grid-column: auto;
  }
}
