.more__title-main {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.more__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
}

.more__volume,
.more__price {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: $ff-lato;
  text-align: right;
}
.more__item {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 200px 100px;
  }
}
.more__block {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.more__button {
  font-size: 16px;
  line-height: 20px;
}
