.page-title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .page-title {
    font-size: 60px;
    line-height: 60px;
  }
}
