.present {
  padding: 186px 58px 43px;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-lato;
  text-align: center;
  color: $light;

  background-color: #69b738;
  background-image: url("../img/svg/present.svg"),
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/present-background-mobile.png");
  background-repeat: no-repeat;
  background-position: top 59px center, top, top;
  background-size: 78px 80px, auto, cover;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 421px;

    text-align: left;

    background-color: #69b738;
    background-image: url(../img/svg/present.svg),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url(../img/present-background-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center left 80px, top, center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 185px 42px 43px;

    text-align: center;

    background-position: top 59px center, top, top;
  }
}

.present p {
  margin: 0;
}
