.slider {
  position: relative;

  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }
}

.slider__img-container {
  position: relative;

  height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 512px;
    margin: 0 auto;
  }
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 100%;
  overflow: hidden;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.slider__item img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider__item--before {
  z-index: 20;
}

.slider__item--after {
  right: 0;
  left: auto;
  z-index: 10;
}

.slider__item--before img {
  object-position: left;
}

.slider__item--after img {
  object-position: right;
}
