.footer__social {
  display: grid;
  justify-content: center;
  width: 132px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 11px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 19px;

  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;

  gap: 24px;
  grid-template-columns: repeat(3, auto);

  @media (min-width: $tablet-width) {
    padding-top: 32px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;

  color: #666666;

  fill: currentColor;

  &:hover,
  &:focus {
    color: #68b738;

    outline: none;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
  }
}

.social__link svg {
  fill: currentColor;
}

.footer__logo-htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  font-family: $ff-lato;
  color: $dark-gray;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
