.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: 100%;
    max-width: $tablet-width;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: 100%;
    max-width: $desktop-width;
    margin: 0;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}
