// Шрифты

$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;

// Цвета

$light: #ffffff;
$basic-gray: #68b738;
$gray: #d9d9d9;
$light-gray: #cdcdcd;
$gray-border: #e7e7e7;
$green: #68b738;
$dark-green: #5eaa2f;
$error: #ff8282;
$dark-gray: #444444;

// Вариант отображения

$mobile-width: 320px;
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
